
* {
  margin: 20px;
  padding: 0;
}

.navbar {
  display: absolute;
  align-items:center;
  justify-content:center;
  position:center;
  top:20px;
  cursor: pointer;
}

.background{
  background-color: rgb(77, 202, 202);
  background-blend-mode: soft-light;
  width: 800px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: auto;
  height: auto;
  border-radius: 50px;
  margin: center;
}

.clock img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock img {
  width: auto;
  height: auto;
  border-radius: none;
  margin:50px;
}

label {
  display:block;
  padding-left:15px;
  text-indent: -15px;
}

input {
  margin-right: 0.5rem;
}
textarea {
  width: 300px;
  height: 40px;
  margin: 0.5rem;
  background-color: whitesmoke;
  background-blend-mode: transparent;
  color:black;
  text-align: justify;
}
textarea input {
  margin: 200px;
  vertical-align: right;
  justify-content: right;

}
input::placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-style:italic;
  opacity: 0.5;
}
.checkboxes label {
  display: inline-table;
  padding-right: 100px;
  white-space: normal;
}
.checkboxes input {
  vertical-align:right;
}
.checkboxes label span {
  vertical-align: right;
  margin: 20px;
}

button {
  background-color: saddlebrown;
  color:blanchedalmond;
  padding:10px 10px;
  border:none;
  cursor: pointer;
}

button:hover{
  background: #989898;
  color: #fff;
  cursor: pointer;
}

table {
  width: 100%;
}
